body{
    background: #b22a2a;
}

nav{
    background:#b3a3a3;
    max-width: 800px;    
    margin: 0 auto;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    /*Flexbox*/
/*se colocan uno al lado de otro y ocupa solo el esacio de su conten, ejeprinci esta horizonal*/
    display: flex; 
    justify-content: space-around;

}   

nav ul a{
    display: block;
    color: #fff;
    padding: 1rem;
    text-decoration: none;
}

nav ul a:hover{
    background: #8f7d7d;

}

/*Media Querys*/
@media(max-width:550px){
    nav ul{
        flex-direction: column;
    }
    nav ul a{
        text-align: center;
        border-bottom: 10px;
        padding-bottom: 10px;
        border: solid #b22a2a;
    }
}